body {
  background: #000;
  color: #fff;
  font-size: 8em;
  font-family: "museo-sans","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  margin: 0;
  padding: 0;
}

#stars {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
}

#pebblecode-logo {
  height: 100%;
  text-align: center;
  position: relative;
  width: 6.7em;
  margin: 0 auto;
}

#pebblecode-logo img {
  position: absolute;
  transform: translateY(-200px);
}

#pebblecode-logo img:nth-child(1) { /* p */
  left: 0;
  top: 0.25em;
}

#pebblecode-logo img:nth-child(2) { /* e */
  left: 0.6em;
  top: 0.25em;
}
#pebblecode-logo img:nth-child(3) { /* b */
  left: 1.2em;
}
#pebblecode-logo img:nth-child(4) { /* b */
  left: 1.8em;
}
#pebblecode-logo img:nth-child(5) { /* l */
  left: 2.4em;
}
#pebblecode-logo img:nth-child(6) { /* e */
  left: 2.7em;
  top: 0.25em;
}
#pebblecode-logo img:nth-child(7) { /* { */
  left: 3.6em;
  top: 0.05em;
}
#pebblecode-logo img:nth-child(8) { /* c */
  left: 4.025em;
  top: 0.25em;
}
#pebblecode-logo img:nth-child(9) { /* o */
  left: 4.525em;
  top: 0.25em;
}
#pebblecode-logo img:nth-child(10) { /* d */
  left: 5.125em;
}
#pebblecode-logo img:nth-child(11) { /* e */
  left: 5.725em;
  top: 0.25em;
}
#pebblecode-logo img:nth-child(12) { /* } */
  left: 6.3em;
  top: 0.05em;
}